
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f6f9f7;
        }
        h1 {
            text-align: center;
            color: #101010;
        }
         h2{
           text-align: center;
        }
         h5{
        text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #f5f2f2;
        }
        th {
            background-color: #08b72e;
            color: white;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
        }
    